@font-face {
  font-family: 'tangerine-bold';
  src: local('tangerine-bold'), url(./fonts/tangerine.bold.ttf) format('truetype');
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-family: tangerine-bold;
  font-size: calc(80px + 2vmin);
  color: rgb(102, 202, 233);
}

.App-link {
  color: #c9c61a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  color:#c9c61a;
}
